In [18]:
import pandas as pd
import numpy as np

In [165]:
# Création des différents DataFrames
tournaments = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/1_tournaments/tournaments_2000_2022.csv', index_col=0).reset_index(drop=True)
match_scores = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/2_match_scores/match_scores_2000_2022.csv', index_col=0).reset_index(drop=True)
match_stats = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2000_2022.csv', index_col=0).reset_index(drop=True)
odds_data = pd.read_csv('Sources/tennis-data.co.uk-with-odds/odds_data_2000_2022.csv', index_col=0).reset_index(drop=True)

D:\TEMP\ipykernel_9300\592806061.py:3: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  match_scores = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/2_match_scores/match_scores_2000_2022.csv', index_col=0).reset_index(drop=True)
D:\TEMP\ipykernel_9300\592806061.py:5: DtypeWarning: Columns (12,13,16,17,18,19,39) have mixed types. Specify dtype option on import or set low_memory=False.
  odds_data = pd.read_csv('Sources/tennis-data.co.uk-with-odds/odds_data_2000_2022.csv', index_col=0).reset_index(drop=True)

In [139]:
match_scores_tournaments = match_scores.merge(tournaments, on='tourney_year_id', how='inner')

In [140]:
datasets_without_odds = match_scores_tournaments.merge(match_stats, on='match_id', how='left')

In [141]:
datasets_without_odds['match_score_tiebreaks']

0                 36 75 30 (RET)
1                          75 64
2                    67(3) 64 64
3                          61 60
4                          62 64
                  ...
86766          43(5) 43(5) 43(5)
86767    24 43(7) 43(4) 34(4) 42
86768                41 43(7) 41
86769                   76(3) 61
86770                   76(4) 64
Name: match_score_tiebreaks, Length: 86771, dtype: object

In [142]:
set_1 = []
set_2 = []
set_3 = []
set_4 = []
set_5 = []

for value in datasets_without_odds['match_score_tiebreaks']:
    if len(value.split()) == 1:
        set_1.append(value.split()[0])
        set_2.append(np.nan)
        set_3.append(np.nan)
        set_4.append(np.nan)
        set_5.append(np.nan)
    elif len(value.split()) == 2:
        set_1.append(value.split()[0])
        set_2.append(value.split()[1])
        set_3.append(np.nan)
        set_4.append(np.nan)
        set_5.append(np.nan)
    elif len(value.split()) == 3:
        set_1.append(value.split()[0])
        set_2.append(value.split()[1])
        set_3.append(value.split()[2])
        set_4.append(np.nan)
        set_5.append(np.nan)
    elif len(value.split()) == 4:
        set_1.append(value.split()[0])
        set_2.append(value.split()[1])
        set_3.append(value.split()[2])
        set_4.append(value.split()[3])
        set_5.append(np.nan)
    elif len(value.split()) == 5:
        set_1.append(value.split()[0])
        set_2.append(value.split()[1])
        set_3.append(value.split()[2])
        set_4.append(value.split()[3])
        set_5.append(value.split()[4])
    else:
        set_1.append(np.nan)
        set_2.append(np.nan)
        set_3.append(np.nan)
        set_4.append(np.nan)
        set_5.append(np.nan)

In [143]:
score_1 = pd.DataFrame(set_1)
score_1 = score_1.astype('str')
set_1 = list(score_1[0])

score_2 = pd.DataFrame(set_2)
score_2 = score_2.astype('str')
set_2 = list(score_2[0])

score_3 = pd.DataFrame(set_3)
score_3 = score_3.astype('str')
set_3 = list(score_3[0])

score_4 = pd.DataFrame(set_4)
score_4 = score_4.astype('str')
set_4 = list(score_4[0])

score_5 = pd.DataFrame(set_5)
score_5 = score_5.astype('str')
set_5 = list(score_5[0])

In [144]:
W1 = []
L1 = []
W2 = []
L2 = []
W3 = []
L3 = []
W4 = []
L4 = []
W5 = []
L5 = []

for value in set_1:
    W1.append(value[0])
    L1.append(value[1])

for value in set_2:
    if value == np.nan:
        W2.append(np.nan)
        L2.append(np.nan)
    else:
        W2.append(value[0])
        L2.append(value[1])
        
for value in set_3:
    if value == np.nan:
        W3.append(np.nan)
        L3.append(np.nan)
    else:
        W3.append(value[0])
        L3.append(value[1])
        
for value in set_4:
    if value == np.nan:
        W4.append(np.nan)
        L4.append(np.nan)
    else:
        W4.append(value[0])
        L4.append(value[1])
        
for value in set_5:
    if value == np.nan:
        W5.append(np.nan)
        L5.append(np.nan)
    else:
        W5.append(value[0])
        L5.append(value[1])

In [145]:
print(len(W1))
print(len(L1))
print(len(W2))
print(len(L2))
print(len(W3))
print(len(L3))
print(len(W4))
print(len(L4))
print(len(W5))
print(len(L5))

86771
86771
86771
86771
86771
86771
86771
86771
86771
86771

In [146]:
datasets_without_odds['W1'] = W1
datasets_without_odds['L1'] = L1
datasets_without_odds['W2'] = W2
datasets_without_odds['L2'] = L2
datasets_without_odds['W3'] = W3
datasets_without_odds['L3'] = L3
datasets_without_odds['W4'] = W4
datasets_without_odds['L4'] = L4
datasets_without_odds['W5'] = W5
datasets_without_odds['L5'] = L5

In [147]:
test = datasets_without_odds[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']]

In [148]:
test

      W1 L1 W2 L2 W3 L3 W4 L4 W5 L5
0      3  6  7  5  3  0  (  R  n  a
1      7  5  6  4  n  a  n  a  n  a
2      6  7  6  4  6  4  n  a  n  a
3      6  1  6  0  n  a  n  a  n  a
4      6  2  6  4  n  a  n  a  n  a
...   .. .. .. .. .. .. .. .. .. ..
86766  4  3  4  3  4  3  n  a  n  a
86767  2  4  4  3  4  3  3  4  4  2
86768  4  1  4  3  4  1  n  a  n  a
86769  7  6  6  1  n  a  n  a  n  a
86770  7  6  6  4  n  a  n  a  n  a

[86771 rows x 10 columns]

In [149]:
a = np.array(test)

In [150]:
for i, liste in enumerate(a):
    for j, value in enumerate(liste):
        if value not in ['0', '1', '2', '3', '4', '5', '6', '7']:
            a[i, j] = np.nan

In [151]:
datasets_without_odds[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']] = pd.DataFrame(a)

In [152]:
datasets_without_odds[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']]

      W1 L1 W2 L2   W3   L3   W4   L4   W5   L5
0      3  6  7  5    3    0  NaN  NaN  NaN  NaN
1      7  5  6  4  NaN  NaN  NaN  NaN  NaN  NaN
2      6  7  6  4    6    4  NaN  NaN  NaN  NaN
3      6  1  6  0  NaN  NaN  NaN  NaN  NaN  NaN
4      6  2  6  4  NaN  NaN  NaN  NaN  NaN  NaN
...   .. .. .. ..  ...  ...  ...  ...  ...  ...
86766  4  3  4  3    4    3  NaN  NaN  NaN  NaN
86767  2  4  4  3    4    3    3    4    4    2
86768  4  1  4  3    4    1  NaN  NaN  NaN  NaN
86769  7  6  6  1  NaN  NaN  NaN  NaN  NaN  NaN
86770  7  6  6  4  NaN  NaN  NaN  NaN  NaN  NaN

[86771 rows x 10 columns]

In [156]:
datasets_without_odds

,tourney_year_id,tourney_order_x,tourney_name_x,tourney_slug_x,tourney_url_suffix_x,start_date,start_year,start_month,start_day,end_date,...,W1,L1,W2,L2,W3,L3,W4,L4,W5,L5
0,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,3,6,7,5,3,0,-1,-1,-1,-1
1,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,7,5,6,4,-1,-1,-1,-1,-1,-1
2,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,6,7,6,4,6,4,-1,-1,-1,-1
3,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,6,1,6,0,-1,-1,-1,-1,-1,-1
4,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,6,2,6,4,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86766,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,4,3,4,3,4,3,-1,-1,-1,-1
86767,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,2,4,4,3,4,3,3,4,4,2
86768,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,4,1,4,3,4,1,-1,-1,-1,-1
86769,2022-605,71,Nitto ATP Finals,nitto-atp-finals,/en/scores/current/nitto-atp-finals/605/live-s...,2022.11.13,2022.0,11.0,13.0,2022.11.20,...,7,6,6,1,-1,-1,-1,-1,-1,-1
86770,2022-605,71,Nitto ATP Finals,nitto-atp-finals,/en/scores/current/nitto-atp-finals/605/live-s...,2022.11.13,2022.0,11.0,13.0,2022.11.20,...,7,6,6,4,-1,-1,-1,-1,-1,-1

In [155]:
datasets_without_odds[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']] = datasets_without_odds[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']].fillna(-1)

In [157]:
datasets_without_odds[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']] = datasets_without_odds[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']].astype('int')

In [166]:
odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']]

        W1   L1   W2   L2   W3   L3  W4  L4  W5  L5
0      6.0  4.0  6.0  2.0  NaN  NaN NaN NaN NaN NaN
1      6.0  3.0  6.0  3.0  NaN  NaN NaN NaN NaN NaN
2      6.0  7.0  7.0  5.0  6.0  3.0 NaN NaN NaN NaN
3      6.0  1.0  6.0  4.0  NaN  NaN NaN NaN NaN NaN
4      7.0  6.0  5.0  7.0  6.0  4.0 NaN NaN NaN NaN
...    ...  ...  ...  ...  ...  ...  ..  ..  ..  ..
61276  6.0  0.0  6.0  3.0  NaN  NaN NaN NaN NaN NaN
61277  6.0  2.0  6.0  4.0  NaN  NaN NaN NaN NaN NaN
61278  6.0  4.0  6.0  2.0  NaN  NaN NaN NaN NaN NaN
61279  6.0  2.0  3.0  6.0  7.0  6.0 NaN NaN NaN NaN
61280  3.0  6.0  6.0  3.0  7.0  5.0 NaN NaN NaN NaN

[61281 rows x 10 columns]

In [167]:
odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']] = odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']].fillna(-1)

In [168]:
odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']] = odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']].replace(' ', -1)

In [169]:
odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']] = odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']].astype('str')

In [171]:
odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']] = odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']].astype('float')

In [172]:
odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']] = odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']].astype('int')

In [173]:
odds_data[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5']]

       W1  L1  W2  L2  W3  L3  W4  L4  W5  L5
0       6   4   6   2  -1  -1  -1  -1  -1  -1
1       6   3   6   3  -1  -1  -1  -1  -1  -1
2       6   7   7   5   6   3  -1  -1  -1  -1
3       6   1   6   4  -1  -1  -1  -1  -1  -1
4       7   6   5   7   6   4  -1  -1  -1  -1
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
61276   6   0   6   3  -1  -1  -1  -1  -1  -1
61277   6   2   6   4  -1  -1  -1  -1  -1  -1
61278   6   4   6   2  -1  -1  -1  -1  -1  -1
61279   6   2   3   6   7   6  -1  -1  -1  -1
61280   3   6   6   3   7   5  -1  -1  -1  -1

[61281 rows x 10 columns]

In [174]:
locations = []
for value in datasets_without_odds['tourney_location'].astype('str'):
    if ',' not in value:
        locations.append(value.split()[0])
    else:
        value = value.replace(',','')
        locations.append(value.split()[0])
pd.Series(locations)

0         Doha
1         Doha
2         Doha
3         Doha
4         Doha
         ...
86766    Milan
86767    Milan
86768    Milan
86769    Turin
86770    Turin
Length: 86771, dtype: object

In [176]:
datasets_without_odds['city'] = pd.Series(locations).apply(lambda x: x.lower())

In [177]:
locations2 = []
for value in odds_data['Location'].astype('str'):
    if ',' not in value:
        locations2.append(value.split()[0])
    else:
        value = value.replace(',','')
        locations2.append(value.split()[0])
pd.Series(locations2)

0        Adelaide
1        Adelaide
2        Adelaide
3        Adelaide
4        Adelaide
           ...
61276       Paris
61277       Paris
61278       Paris
61279       Paris
61280       Paris
Length: 61281, dtype: object

In [180]:
odds_data['city'] = pd.Series(locations2).apply(lambda x: x.lower())

In [181]:
datasets_without_odds['winner_name']

0          Fabrice Santoro
1          Fabrice Santoro
2        Rainer Schuettler
3           Nicolas Kiefer
4          Fabrice Santoro
               ...
86766     Dominic Stricker
86767    Brandon Nakashima
86768         Jiri Lehecka
86769         Taylor Fritz
86770          Casper Ruud
Name: winner_name, Length: 86771, dtype: object

In [182]:
datasets_without_odds['winner_family_name'] = datasets_without_odds['winner_name'].apply(lambda x: x.split()[-1].lower())

In [183]:
datasets_without_odds['winner_family_name']

0           santoro
1           santoro
2        schuettler
3            kiefer
4           santoro
            ...
86766      stricker
86767     nakashima
86768       lehecka
86769         fritz
86770          ruud
Name: winner_family_name, Length: 86771, dtype: object

In [184]:
datasets_without_odds['loser_family_name'] = datasets_without_odds['loser_name'].apply(lambda x: x.split()[-1].lower())

In [186]:
odds_data['winner_family_name'] = odds_data['Winner'].apply(lambda x: x.split()[0].lower())

In [187]:
odds_data['loser_family_name'] = odds_data['Loser'].apply(lambda x: x.split()[0].lower())

In [188]:
odds_data

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL,city,winner_family_name,loser_family_name
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,adelaide,dosedel,ljubicic
1,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,adelaide,enqvist,clement
2,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,adelaide,escude,baccanello
3,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,adelaide,federer,knippschild
4,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,adelaide,fromberg,woodbridge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61276,67,Paris,BNP Paribas Masters,2022-11-04,Masters 1000,Indoor,Hard,Quarterfinals,3,Djokovic N.,...,NaN,NaN,NaN,1.16,7.66,1.11,6.58,paris,djokovic,musetti
61277,67,Paris,BNP Paribas Masters,2022-11-04,Masters 1000,Indoor,Hard,Quarterfinals,3,Tsitsipas S.,...,NaN,NaN,NaN,1.45,3.32,1.39,3.00,paris,tsitsipas,paul
61278,67,Paris,BNP Paribas Masters,2022-11-05,Masters 1000,Indoor,Hard,Semifinals,3,Rune H.,...,NaN,NaN,NaN,2.93,1.52,2.74,1.46,paris,rune,auger-aliassime
61279,67,Paris,BNP Paribas Masters,2022-11-05,Masters 1000,Indoor,Hard,Semifinals,3,Djokovic N.,...,NaN,NaN,NaN,1.26,5.00,1.20,4.55,paris,djokovic,tsitsipas
61280,67,Paris,BNP Paribas Masters,2022-11-06,Masters 1000,Indoor,Hard,The Final,3,Rune H.,...,NaN,NaN,NaN,4.50,1.28,4.06,1.24,paris,rune,djokovic

In [189]:
datasets_without_odds

,tourney_year_id,tourney_order_x,tourney_name_x,tourney_slug_x,tourney_url_suffix_x,start_date,start_year,start_month,start_day,end_date,...,L2,W3,L3,W4,L4,W5,L5,city,winner_family_name,loser_family_name
0,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,5,3,0,-1,-1,-1,-1,doha,santoro,schuettler
1,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,4,-1,-1,-1,-1,-1,-1,doha,santoro,kiefer
2,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,4,6,4,-1,-1,-1,-1,doha,schuettler,aynaoui
3,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,0,-1,-1,-1,-1,-1,-1,doha,kiefer,schalken
4,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,4,-1,-1,-1,-1,-1,-1,doha,santoro,bastl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86766,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,3,4,3,-1,-1,-1,-1,milan,stricker,draper
86767,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,3,4,3,3,4,4,2,milan,nakashima,arnaldi
86768,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,3,4,1,-1,-1,-1,-1,milan,lehecka,passaro
86769,2022-605,71,Nitto ATP Finals,nitto-atp-finals,/en/scores/current/nitto-atp-finals/605/live-s...,2022.11.13,2022.0,11.0,13.0,2022.11.20,...,1,-1,-1,-1,-1,-1,-1,turin,fritz,nadal
86770,2022-605,71,Nitto ATP Finals,nitto-atp-finals,/en/scores/current/nitto-atp-finals/605/live-s...,2022.11.13,2022.0,11.0,13.0,2022.11.20,...,4,-1,-1,-1,-1,-1,-1,turin,ruud,auger-aliassime

In [190]:
odds_data.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'W1', 'L1',
       'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets',
       'Comment', 'CBW', 'CBL', 'GBW', 'GBL', 'IWW', 'IWL', 'SBW', 'SBL',
       'B365W', 'B365L', 'B&WW', 'B&WL', 'EXW', 'EXL', 'PSW', 'PSL', 'WPts',
       'LPts', 'UBW', 'UBL', 'LBW', 'LBL', 'SJW', 'SJL', 'MaxW', 'MaxL',
       'AvgW', 'AvgL', 'city', 'winner_family_name', 'loser_family_name'],
      dtype='object')

In [192]:
datasets_without_odds.columns.values

array(['tourney_year_id', 'tourney_order_x', 'tourney_name_x',
       'tourney_slug_x', 'tourney_url_suffix_x', 'start_date',
       'start_year', 'start_month', 'start_day', 'end_date', 'end_year',
       'end_month', 'end_day', 'currency_x', 'prize_money', 'match_index',
       'tourney_round_name', 'round_order', 'match_order', 'winner_name',
       'winner_player_id', 'winner_slug_x', 'loser_name',
       'loser_player_id', 'loser_slug_x', 'winner_seed', 'loser_seed',
       'match_score_tiebreaks', 'winner_sets_won', 'loser_sets_won',
       'winner_games_won', 'loser_games_won', 'winner_tiebreaks_won',
       'loser_tiebreaks_won', 'match_id', 'match_stats_url_suffix_x',
       'tourney_order_y', 'tourney_type', 'tourney_name_y', 'tourney_id',
       'tourney_slug_y', 'tourney_location', 'tourney_date', 'year',
       'tourney_month', 'tourney_day', 'tourney_singles_draw',
       'tourney_doubles_draw', 'tourney_conditions', 'tourney_surface',
       'tourney_fin_commit_raw', 'currency_y', 'tourney_fin_commit',
       'tourney_url_suffix_y', 'singles_winner_name',
       'singles_winner_url', 'singles_winner_player_slug',
       'singles_winner_player_id', 'doubles_winner_1_name',
       'doubles_winner_1_url', 'doubles_winner_1_player_slug',
       'doubles_winner_1_player_id', 'doubles_winner_2_name',
       'doubles_winner_2_url', 'doubles_winner_2_player_slug',
       'doubles_winner_2_player_id', 'tourney_slug',
       'match_stats_url_suffix_y', 'match_time', 'match_duration',
       'winner_slug_y', 'winner_serve_rating', 'winner_aces',
       'winner_double_faults', 'winner_first_serves_in',
       'winner_first_serves_total', 'winner_first_serve_points_won',
       'winner_first_serve_points_total',
       'winner_second_serve_points_won',
       'winner_second_serve_points_total', 'winner_break_points_saved',
       'winner_break_points_serve_total', 'winner_service_games_played',
       'winner_return_rating', 'winner_first_serve_return_won',
       'winner_first_serve_return_total',
       'winner_second_serve_return_won',
       'winner_second_serve_return_total',
       'winner_break_points_converted',
       'winner_break_points_return_total', 'winner_return_games_played',
       'winner_service_points_won', 'winner_service_points_total',
       'winner_return_points_won', 'winner_return_points_total',
       'winner_total_points_won', 'winner_total_points_total',
       'loser_slug_y', 'loser_serve_rating', 'loser_aces',
       'loser_double_faults', 'loser_first_serves_in',
       'loser_first_serves_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total', 'loser_break_points_saved',
       'loser_break_points_serve_total', 'loser_service_games_played',
       'loser_return_rating', 'loser_first_serve_return_won',
       'loser_first_serve_return_total', 'loser_second_serve_return_won',
       'loser_second_serve_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'loser_return_games_played',
       'loser_service_points_won', 'loser_service_points_total',
       'loser_return_points_won', 'loser_return_points_total',
       'loser_total_points_won', 'loser_total_points_total', 'W1', 'L1',
       'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'city',
       'winner_family_name', 'loser_family_name'], dtype=object)

In [194]:
df = odds_data.merge(datasets_without_odds, on=['W1', 'L1',
       'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'city',
       'winner_family_name', 'loser_family_name'], how='inner')

In [195]:
duplicated_value = df[df.duplicated(subset=['ATP', 'Location', 'Tournament', 'Date', 'Series',
       'Round', 'Winner', 'Loser'], keep=False)]

In [196]:
duplicated_value

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_return_games_played,loser_service_points_won,loser_service_points_total,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
1483,38,Bastad,Swedish Open,2000-07-10,International,Outdoor,Clay,2nd Round,3,Hipfl M.,...,26.0,2.0,7.0,10.0,33.0,61.0,29.0,75.0,62.0,136.0
1484,38,Bastad,Swedish Open,2000-07-10,International,Outdoor,Clay,2nd Round,3,Hipfl M.,...,17.0,3.0,10.0,10.0,27.0,55.0,28.0,65.0,55.0,120.0
1485,39,Bastad,Swedish Open,2001-07-09,International,Outdoor,Clay,1st Round,3,Hipfl M.,...,26.0,2.0,7.0,10.0,33.0,61.0,29.0,75.0,62.0,136.0
1486,39,Bastad,Swedish Open,2001-07-09,International,Outdoor,Clay,1st Round,3,Hipfl M.,...,17.0,3.0,10.0,10.0,27.0,55.0,28.0,65.0,55.0,120.0
2560,66,Paris,BNP Paribas,2000-11-13,Masters,Indoor,Carpet,2nd Round,3,Grosjean S.,...,29.0,1.0,3.0,11.0,44.0,75.0,18.0,63.0,62.0,138.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47142,16,Miami,Miami Open,2021-03-31,Masters 1000,Outdoor,Hard,4th Round,3,Rublev A.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47173,20,Miami,Sony Ericsson Open,2019-03-29,Masters 1000,Outdoor,Hard,Semifinals,3,Isner J.,...,22.0,2.0,6.0,12.0,51.0,81.0,25.0,78.0,76.0,159.0
47174,20,Miami,Sony Ericsson Open,2019-03-29,Masters 1000,Outdoor,Hard,Semifinals,3,Isner J.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47175,16,Miami,Miami Open,2021-03-28,Masters 1000,Outdoor,Hard,3rd Round,3,Isner J.,...,22.0,2.0,6.0,12.0,51.0,81.0,25.0,78.0,76.0,159.0
47176,16,Miami,Miami Open,2021-03-28,Masters 1000,Outdoor,Hard,3rd Round,3,Isner J.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
duplicated_value.to_csv('Sources/duplicated_value.csv')

In [211]:
duplicated_value['year1'] = pd.to_datetime(duplicated_value['Date']).dt.year

D:\TEMP\ipykernel_9300\2143634089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicated_value['year1'] = pd.to_datetime(duplicated_value['Date']).dt.year

In [212]:
duplicated_value['start_year'] = duplicated_value['start_year'].astype('int')

D:\TEMP\ipykernel_9300\3087221729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicated_value['start_year'] = duplicated_value['start_year'].astype('int')

In [213]:
duplicated_value['end_year'] = duplicated_value['end_year'].astype('int')

D:\TEMP\ipykernel_9300\1585123415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicated_value['end_year'] = duplicated_value['end_year'].astype('int')

In [222]:
test = duplicated_value[(duplicated_value['year1'] != duplicated_value['start_year']) & (duplicated_value['year1'] != duplicated_value['end_year'])]

In [224]:
test.index

Int64Index([ 1484,  1485,  2561,  2562, 12700, 12701, 13071, 13072, 13754,
            13755, 14354, 14355, 16184, 16185, 16231, 16232, 16650, 16651,
            17366, 18165, 18166, 18958, 18959, 19783, 19784, 20043, 20044,
            20688, 20689, 28639, 28640, 28731, 28732, 28794, 28795, 30329,
            30330, 30358, 30359, 31902, 31903, 33838, 33839, 34715, 34716,
            35373, 35374, 39524, 39525, 40055, 40056, 41165, 41166, 42295,
            42296, 44951, 44952, 47140, 47141, 47174, 47175],
           dtype='int64')

In [227]:
df = df.drop(test.index, axis=0)

In [229]:
df.reset_index(drop=True, inplace=True)

In [230]:
df

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,loser_break_points_converted,loser_break_points_return_total,loser_return_games_played,loser_service_points_won,loser_service_points_total,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total,year1
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,1.0,2.0,9.0,31.0,57.0,16.0,53.0,47.0,110.0,2000
1,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,...,2.0,3.0,17.0,64.0,108.0,33.0,102.0,97.0,210.0,2000
2,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Federer R.,...,0.0,0.0,9.0,25.0,42.0,10.0,46.0,35.0,88.0,2000
3,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,5.0,12.0,17.0,67.0,116.0,42.0,111.0,109.0,227.0,2000
4,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Gambill J.M.,...,1.0,1.0,15.0,71.0,103.0,18.0,81.0,89.0,184.0,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54108,67,Paris,BNP Paribas Masters,2022-11-04,Masters 1000,Indoor,Hard,Quarterfinals,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
54109,67,Paris,BNP Paribas Masters,2022-11-04,Masters 1000,Indoor,Hard,Quarterfinals,3,Tsitsipas S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
54110,67,Paris,BNP Paribas Masters,2022-11-05,Masters 1000,Indoor,Hard,Semifinals,3,Rune H.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
54111,67,Paris,BNP Paribas Masters,2022-11-05,Masters 1000,Indoor,Hard,Semifinals,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
54112,67,Paris,BNP Paribas Masters,2022-11-06,Masters 1000,Indoor,Hard,The Final,3,Rune H.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [232]:
final_dataset = df[df['year1'] >= 2003]

In [233]:
final_dataset.to_csv('Sources/final_dataset.csv')

In [247]:
winner_col_players = ['winner_player_id'
,'winner_player_slug'
,'winner_first_name'
,'winner_last_name'
,'winner_player_url'
,'winner_flag_code'
,'winner_residence'
,'winner_birthplace'
,'winner_birthdate'
,'winner_birth_year'
,'winner_birth_month'
,'winner_birth_day'
,'winner_turned_pro'
,'winner_weight_lbs'
,'winner_weight_kg'
,'winner_height_ft'
,'winner_height_inches'
,'winner_height_cm'
,'winner_handedness'
,'winner_backhand']

In [248]:
loser_col_players = ['loser_player_id'
,'loser_player_slug'
,'loser_first_name'
,'loser_last_name'
,'loser_player_url'
,'loser_flag_code'
,'loser_residence'
,'loser_birthplace'
,'loser_birthdate'
,'loser_birth_year'
,'loser_birth_month'
,'loser_birth_day'
,'loser_turned_pro'
,'loser_weight_lbs'
,'loser_weight_kg'
,'loser_height_ft'
,'loser_height_inches'
,'loser_height_cm'
,'loser_handedness'
,'loser_backhand']

In [239]:
players =  pd.read_excel('Sources/atp-world-tour-tennis-data-master/csv/4_players/player_overviews.xlsx')

In [240]:
players

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,a002,ricardo-acuna,Ricardo,Acuna,http://www.atpworldtour.com/en/players/ricardo...,CHI,"Jupiter, FL, USA","Santiago, Chile",1958.01.13,1958.0,1.0,13.0,0.0,150.0,68.0,"5'9""",69.0,175.0,NaN,NaN
1,a001,sadiq-abdullahi,Sadiq,Abdullahi,http://www.atpworldtour.com/en/players/sadiq-a...,NGR,NaN,NaN,1960.02.02,1960.0,2.0,2.0,0.0,0.0,0.0,"0'0""",0.0,0.0,NaN,NaN
2,a005,nelson-aerts,Nelson,Aerts,http://www.atpworldtour.com/en/players/nelson-...,BRA,NaN,"Cachoeira Do Sul, Brazil",1963.04.25,1963.0,4.0,25.0,0.0,165.0,75.0,"6'2""",74.0,188.0,NaN,NaN
3,a004,egan-adams,Egan,Adams,http://www.atpworldtour.com/en/players/egan-ad...,USA,"Palmetto, FL, USA","Miami Beach, FL, USA",1959.06.15,1959.0,6.0,15.0,0.0,160.0,73.0,"5'10""",70.0,178.0,NaN,NaN
4,a006,ronald-agenor,Ronald,Agenor,http://www.atpworldtour.com/en/players/ronald-...,USA,"Beverly Hills, California, USA","Rabat, Morocco",1964.11.13,1964.0,11.0,13.0,1983.0,180.0,82.0,"5'11""",71.0,180.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10907,z435,a-zorab,A.,Zorab,http://www.atpworldtour.com/en/players/a-zorab...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10908,z437,j-zimmermann,J.,Zimmermann,http://www.atpworldtour.com/en/players/j-zimme...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10909,z436,g-zinn,G.,Zinn,http://www.atpworldtour.com/en/players/g-zinn/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10910,z440,c-zenger,C.,Zenger,http://www.atpworldtour.com/en/players/c-zenge...,GER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10911,z442,a-ziffo,A.,Ziffo,http://www.atpworldtour.com/en/players/a-ziffo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [249]:
dict_for_renaming_winners = {k: v for k, v in zip(players.columns, winner_col_players)}

In [250]:
dict_for_renaming_losers = {k: v for k, v in zip(players.columns, loser_col_players)}

In [251]:
winner_players = players.rename(dict_for_renaming_winners, axis=1)

In [252]:
loser_players = players.rename(dict_for_renaming_losers, axis=1)

In [253]:
winner_players

,winner_player_id,winner_player_slug,winner_first_name,winner_last_name,winner_player_url,winner_flag_code,winner_residence,winner_birthplace,winner_birthdate,winner_birth_year,winner_birth_month,winner_birth_day,winner_turned_pro,winner_weight_lbs,winner_weight_kg,winner_height_ft,winner_height_inches,winner_height_cm,winner_handedness,winner_backhand
0,a002,ricardo-acuna,Ricardo,Acuna,http://www.atpworldtour.com/en/players/ricardo...,CHI,"Jupiter, FL, USA","Santiago, Chile",1958.01.13,1958.0,1.0,13.0,0.0,150.0,68.0,"5'9""",69.0,175.0,NaN,NaN
1,a001,sadiq-abdullahi,Sadiq,Abdullahi,http://www.atpworldtour.com/en/players/sadiq-a...,NGR,NaN,NaN,1960.02.02,1960.0,2.0,2.0,0.0,0.0,0.0,"0'0""",0.0,0.0,NaN,NaN
2,a005,nelson-aerts,Nelson,Aerts,http://www.atpworldtour.com/en/players/nelson-...,BRA,NaN,"Cachoeira Do Sul, Brazil",1963.04.25,1963.0,4.0,25.0,0.0,165.0,75.0,"6'2""",74.0,188.0,NaN,NaN
3,a004,egan-adams,Egan,Adams,http://www.atpworldtour.com/en/players/egan-ad...,USA,"Palmetto, FL, USA","Miami Beach, FL, USA",1959.06.15,1959.0,6.0,15.0,0.0,160.0,73.0,"5'10""",70.0,178.0,NaN,NaN
4,a006,ronald-agenor,Ronald,Agenor,http://www.atpworldtour.com/en/players/ronald-...,USA,"Beverly Hills, California, USA","Rabat, Morocco",1964.11.13,1964.0,11.0,13.0,1983.0,180.0,82.0,"5'11""",71.0,180.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10907,z435,a-zorab,A.,Zorab,http://www.atpworldtour.com/en/players/a-zorab...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10908,z437,j-zimmermann,J.,Zimmermann,http://www.atpworldtour.com/en/players/j-zimme...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10909,z436,g-zinn,G.,Zinn,http://www.atpworldtour.com/en/players/g-zinn/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10910,z440,c-zenger,C.,Zenger,http://www.atpworldtour.com/en/players/c-zenge...,GER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10911,z442,a-ziffo,A.,Ziffo,http://www.atpworldtour.com/en/players/a-ziffo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
loser_players

,loser_player_id,loser_player_slug,loser_first_name,loser_last_name,loser_player_url,loser_flag_code,loser_residence,loser_birthplace,loser_birthdate,loser_birth_year,loser_birth_month,loser_birth_day,loser_turned_pro,loser_weight_lbs,loser_weight_kg,loser_height_ft,loser_height_inches,loser_height_cm,loser_handedness,loser_backhand
0,a002,ricardo-acuna,Ricardo,Acuna,http://www.atpworldtour.com/en/players/ricardo...,CHI,"Jupiter, FL, USA","Santiago, Chile",1958.01.13,1958.0,1.0,13.0,0.0,150.0,68.0,"5'9""",69.0,175.0,NaN,NaN
1,a001,sadiq-abdullahi,Sadiq,Abdullahi,http://www.atpworldtour.com/en/players/sadiq-a...,NGR,NaN,NaN,1960.02.02,1960.0,2.0,2.0,0.0,0.0,0.0,"0'0""",0.0,0.0,NaN,NaN
2,a005,nelson-aerts,Nelson,Aerts,http://www.atpworldtour.com/en/players/nelson-...,BRA,NaN,"Cachoeira Do Sul, Brazil",1963.04.25,1963.0,4.0,25.0,0.0,165.0,75.0,"6'2""",74.0,188.0,NaN,NaN
3,a004,egan-adams,Egan,Adams,http://www.atpworldtour.com/en/players/egan-ad...,USA,"Palmetto, FL, USA","Miami Beach, FL, USA",1959.06.15,1959.0,6.0,15.0,0.0,160.0,73.0,"5'10""",70.0,178.0,NaN,NaN
4,a006,ronald-agenor,Ronald,Agenor,http://www.atpworldtour.com/en/players/ronald-...,USA,"Beverly Hills, California, USA","Rabat, Morocco",1964.11.13,1964.0,11.0,13.0,1983.0,180.0,82.0,"5'11""",71.0,180.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10907,z435,a-zorab,A.,Zorab,http://www.atpworldtour.com/en/players/a-zorab...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10908,z437,j-zimmermann,J.,Zimmermann,http://www.atpworldtour.com/en/players/j-zimme...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10909,z436,g-zinn,G.,Zinn,http://www.atpworldtour.com/en/players/g-zinn/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10910,z440,c-zenger,C.,Zenger,http://www.atpworldtour.com/en/players/c-zenge...,GER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10911,z442,a-ziffo,A.,Ziffo,http://www.atpworldtour.com/en/players/a-ziffo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:
final_dataset

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,loser_break_points_converted,loser_break_points_return_total,loser_return_games_played,loser_service_points_won,loser_service_points_total,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total,year1
7870,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,1st Round,3,Krajicek R.,...,0.0,3.0,11.0,44.0,56.0,14.0,66.0,58.0,122.0,2003
7871,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,1st Round,3,Squillari F.,...,1.0,7.0,10.0,46.0,81.0,25.0,71.0,71.0,152.0,2003
7872,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,Davydenko N.,...,5.0,11.0,16.0,60.0,103.0,39.0,102.0,99.0,205.0,2003
7873,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,Dupuis A.,...,0.0,0.0,11.0,44.0,62.0,11.0,60.0,55.0,122.0,2003
7874,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,Voinea A.,...,1.0,3.0,9.0,24.0,44.0,21.0,60.0,45.0,104.0,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54108,67,Paris,BNP Paribas Masters,2022-11-04,Masters 1000,Indoor,Hard,Quarterfinals,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
54109,67,Paris,BNP Paribas Masters,2022-11-04,Masters 1000,Indoor,Hard,Quarterfinals,3,Tsitsipas S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
54110,67,Paris,BNP Paribas Masters,2022-11-05,Masters 1000,Indoor,Hard,Semifinals,3,Rune H.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
54111,67,Paris,BNP Paribas Masters,2022-11-05,Masters 1000,Indoor,Hard,Semifinals,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
54112,67,Paris,BNP Paribas Masters,2022-11-06,Masters 1000,Indoor,Hard,The Final,3,Rune H.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [260]:
final_dataset = final_dataset.merge(winner_players, on='winner_player_id', how='left')

In [261]:
final_dataset = final_dataset.merge(loser_players, on='loser_player_id', how='left')

In [263]:
final_dataset

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,loser_birth_month,loser_birth_day,loser_turned_pro,loser_weight_lbs,loser_weight_kg,loser_height_ft,loser_height_inches,loser_height_cm,loser_handedness,loser_backhand
0,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,1st Round,3,Krajicek R.,...,6.0,5.0,1993.0,170.0,77.0,"5'10""",70.0,178.0,Left-Handed,One-Handed Backhand
1,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,1st Round,3,Squillari F.,...,9.0,15.0,1989.0,187.0,85.0,"6'1""",73.0,185.0,NaN,NaN
2,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,Davydenko N.,...,3.0,19.0,1998.0,202.0,92.0,"6'4""",76.0,193.0,Right-Handed,One-Handed Backhand
3,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,Dupuis A.,...,7.0,6.0,1996.0,205.0,93.0,"6'5""",77.0,196.0,Right-Handed,One-Handed Backhand
4,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,Voinea A.,...,12.0,20.0,2000.0,160.0,73.0,"5'9""",69.0,175.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46211,67,Paris,BNP Paribas Masters,2022-11-04,Masters 1000,Indoor,Hard,Quarterfinals,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46212,67,Paris,BNP Paribas Masters,2022-11-04,Masters 1000,Indoor,Hard,Quarterfinals,3,Tsitsipas S.,...,5.0,17.0,2015.0,173.0,78.0,"6'1""",73.0,185.0,Right-Handed,Two-Handed Backhand
46213,67,Paris,BNP Paribas Masters,2022-11-05,Masters 1000,Indoor,Hard,Semifinals,3,Rune H.,...,8.0,8.0,2016.0,185.0,84.0,"6'2""",74.0,188.0,Right-Handed,Two-Handed Backhand
46214,67,Paris,BNP Paribas Masters,2022-11-05,Masters 1000,Indoor,Hard,Semifinals,3,Djokovic N.,...,8.0,12.0,2016.0,183.0,83.0,"6'4""",76.0,193.0,Right-Handed,One-Handed Backhand
46215,67,Paris,BNP Paribas Masters,2022-11-06,Masters 1000,Indoor,Hard,The Final,3,Rune H.,...,5.0,22.0,2003.0,170.0,77.0,"6'2""",74.0,188.0,Right-Handed,Two-Handed Backhand

In [264]:
final_dataset.to_csv('Sources/final_dataset.csv')